# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.ts"
# should be updated accordingly.

DATABASE_URL="postgres://user:password@host:5432/dbname?sslmode=require"
NODE_ENV="development"
PORT=3000
AUTH_GITHUB_ID="your_github_client_id"
AUTH_GITHUB_SECRET="your_github_client_secret"
AUTH_SECRET="your-secret-key-here"  # Added by `npx auth`. Read more: https://cli.authjs.dev

AWS_ACCESS_KEY_ID="your_access_key_id"
AWS_SECRET_ACCESS_KEY="your_secret_access_key"
AWS_BUCKET_NAME="your_bucket_name"
AWS_REGION="us-east-2"

ECS_TASK_DEFINITION_MEET="your_ecs_task_definition_meet"
ECS_TASK_DEFINITION_TEAMS="your_ecs_task_definition_teams"
ECS_TASK_DEFINITION_ZOOM="your_ecs_task_definition_zoom"
ECS_SUBNETS="your_ecs_subnets"
ECS_SECURITY_GROUPS="your_ecs_security_groups"
ECS_CLUSTER_NAME="your_ecs_cluster_name"

BASE_URL="http://localhost:3000"
